.banner-wrapper{
    width: 1170px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.banner{
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../images/banner.png');
    width: 100%;
}
.banner-info{
    display: flex;
    flex-direction: column;
}
.banner-info__image{
    margin-top: 200px;
    flex-shrink: 0;
    width: 270px;
    height: 100px;
}

.banner-info__line{
    width: 170px;
    border: 0.5px solid white;
    margin-top: 55px;
}

.banner-info__modern{
    width: 670px;
    color: #FFF;
    font-family: Raleway;
    font-size: 48px;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 73px;
}

.banner-info__lorem{
    width: 270px;
    color: #FFF;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    margin-top: 42px;
}

.banner-info__button{
    width: 270px;
    height: 58px;
    border: 2px solid #FFF;
    color: #FFF;
    text-align: center;
    font-family: 'Open Sans' sans-serif;
    font-size: 18px;
    font-weight: 600;
    background: none;
    margin-top: 42px;
    margin-bottom: 185px;
}

.banner-info__button_hover:hover{
    border: 2px solid rgba(236, 121, 121, 1);
    color: rgba(236, 121, 121, 1);
    text-align: center;
    font-family: 'Open Sans' sans-serif;
    font-weight: 600;
    background: none;
    cursor: pointer;
}

.banner-info__button_active:active{
    text-align: center;
    font-family: 'Open Sans' sans-serif;
    font-weight: 600;
    cursor: pointer;
    border: 2px solid #AB4949;
    background: #AB4949;
    color: #FFF;
}

.banner-registr{
    width: 470px;
    height: 450px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    margin-top: 207px;
}

.banner-registr-block__info{
    width: 367px;
    height: 90px;
    color: #333;
    text-align: center;
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 90px;
    margin-left: 53px;
}

.banner-registr-block__info__span{
    color: #EC7979;
}

.banner-registr-block__input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.banner-registr-block__input__text{
    width: 370px;
    outline: none;
    border: none;  
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-top: 33px;
    padding-bottom: 16px;
    border-bottom: 1px solid #BDBDBD;
}

.banner-registr-block__button{
    width: 470px;
    height: 60px;
    border-radius: 0px 0px 10px 10px;
    background: #EC7979;
    margin-top: 95px;
    border: 1px solid #EC7979;
    line-height: 60px;
    color: #FFF;
    text-align: center;
    font-family: Open Sans;
    font-size: 15px;
    font-weight: 600;
}

.banner-registr-block__button_hover:hover{
    border-radius: 0px 0px 10px 10px;
    background: #AB4949;
    border: 1px solid #AB4949;;
    line-height: 60px;
    color: #FFF;
    text-align: center;
    font-family: Open Sans;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}
@media (max-width:1200px) {
    .banner-wrapper{
        width: 95%;
    }
    .banner-info__image{
        width: 183.099px;
        height: 74.854px;
    }
    .banner-info__modern{
        width: 454.358px;
        font-size: 36px;
    }
    .banner-info__line{
        width: 115.285px;
    }
    .banner-info__button{
        width: 183.099px;
        height: 50px;
    }
    .banner-info__lorem{
        width: 183.099px;
        font-size: 14px;
    }
    .banner-registr{
        width: 398px;
        height: 450px;
    }
    .banner-registr-block__info{
        width: 298px;
        height: 90px;
        font-size: 18px;
    }
    .banner-registr-block__input__text{
        width: 298px;
        font-size: 12px;
    }
    .banner-registr-block__button{
        width: 398px;
        margin-top: 100px;
        font-size: 12px;
    
    }
}

@media (max-width:880px){
    .banner-wrapper{
        flex-wrap: wrap;
    }
    .banner-info__image{
       margin-top: 120px;
    }
    .banner-info__modern{
        width: 288px;
        font-size: 36px;
        margin-top: 23px;
    }
    .banner-info__line{
        width: 288px;
    }
    .banner-info__button{
        width: 183.099px;
        margin-bottom: 25px;
    }
    .banner-info__lorem{
        width: 288px;
        font-size: 14px;
    }
    .banner-registr{
        width: 288px;
        height: 381px;
        margin-top: 130px;
    }
    .banner-registr-block__info{
        width: 240px;
        font-size: 14px;
        margin-left: 20px;
    }
    .banner-registr-block__input__text{
        width: 240px;
        font-size: 12px;
    }
    .banner-registr-block__button{
        width: 288px;
        margin-top: 70px;
        font-size: 15px; 
}
}

@media (max-width:608px){
    .banner-info__image{
        display: none;
     }
     .banner-info__modern{
        width: 288px;
        font-size: 36px;
        margin-top: 84px;
    }
    .banner-registr{
        width: 288px;
        height: 380px;
        margin-top: 20px;
        margin-bottom: 50px;
    }
    .banner-wrapper{
        width: 95%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .banner-registr-block__button{
        width: 288px;
        margin-top: 31px;
        font-size: 15px; 
    }
    .banner-info__button{
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;    
    }
    .banner-registr-block__info{
        height: 88px;
    }
    .banner-registr-block{
        margin-bottom: 20px;
    }
}