.tabs{
    width: 100%;
    padding-top: 100px;
    padding-bottom: 50px;
    width: 1170px;
    margin: 0 auto;
}

.tabs__header{
    display: flex;
    flex-direction: row;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
}

.tabs__header-1{
    width: 203px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 5px 5px 0px 0px;
    border: 1px solid #C6CBCD;
    border-bottom:none;
}

.tabs__header-2{
    width: 184px;
    height: 40px;    
    text-align: center;
    line-height: 40px;
    border-bottom: 1px solid #C6CBCD;
}

.tabs__header-3{
    width: 600px;
    height: 40px;
    border-bottom: 1px solid #C6CBCD;
}

.tabs__info{
    border: 1px solid #C6CBCD;
    border-top: none;
    display: flex;
    flex-direction: row;
}

.tabs__info-text{
    margin-left: 100px;
    margin-right: 30px;
    
}
.tabs__info-header{
    display: flex;
    width: 570px;
    height: 124px;
    flex-direction: column;
    justify-content: center;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight:700;
    margin-bottom: 27px;
}

.tabs__info-basic{
    font-family: 'Raleway' , sans-serif;
    font-size: 18px;
    font-weight: 400;
    width: 570px;
    margin-bottom: 27px;
}

.tabs__info-button{
    color: #FFF;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    text-transform: capitalize;
    width: 270px;
    background: #EC7979;
    line-height: normal;
    border: 1px solid #EC7979 ;
    height: 58px;
    margin-bottom: 54px;
}

.info-tabs__image{
    display: flex;
    flex-direction: row;
}