.customers{
    width: 1170px;
    height: 100%;
    margin: 0 auto;
    padding-top: 50px;
}

.customers__header{
    text-align: center;
    height: 150px;
    line-height: 150px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 36px;
    text-transform: uppercase;
}

.customers__line{
    width: 170px;
    border: 0.5px solid #EC7979;
    margin: auto;
    margin-bottom: 40px;
}

.customers__title{
    color: #86878B;
    text-align: center;
    font-family:'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 83px;
}

.custominfo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 50px;
    position: relative;
    z-index: -1;
}

.custominfo-blocks{
    width: 370px;
    height: 180px;
    border-radius: 10px;
    background: #E2E2E2;
}

.custominfo-blocks__text{
    width: 370px;
    color: #86878B;
     text-align: center; 
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding-top: 38px; 
}

.custominfo_triangle{
    width: 30px;
    height: 20px;
    position: relative;
    left: -300px;
    top: 176px;
}

.manager{
    margin-bottom: 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.manager-block{
    display: flex;
    flex-direction: row;
}

.manager-block__image{
    width: 70px;
    height: 70px;
    margin-right: 30px;
}

.manager-block-info__name{
    justify-content: center;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-transform: capitalize;
    width: 269px;
    height: 54px;
    margin-bottom: 15px;   
}

.manager-block-info__job{
    color: #000;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 400;
    width: 270px;
}
.manager__dots{
    display: none;
}

@media (max-width:1190px) {
    .customers{
        width: 95%;
    }
    .customers__header{
        font-size: 24px;
    }
    .customers__line{
        width: 144px;
    }
    .customers__title{
        font-size: 14px;
        margin-bottom: 32px;
    }
    .custominfo-blocks{
        width: 317px;
    }
    .custominfo-blocks__text{
        width: 317px;
        font-size: 14px;
    }
    .custominfo_triangle{
        width: 25px;
    }
    .manager-block__image{
        width: 63px;
        height: 63px;
        margin-right: 30px;
    }
    .manager-block-info__name{
        font-size: 18px;
        width: 230.454px;
        height: 36px;
    }
    .manager-block-info__job{
        font-size: 14px;
        width: 231.46px;
    }
    .custominfo{
        justify-content: center;
        margin-left: 25px;
    }
}

@media (max-width:1002px)
{
    .manager-block{
        margin: 0 auto;
    }
    .manager-block-adaptive{
        display: none;
    }
    .custominfo-adaptive{
        display: none;
    }
    .custominfo-blocks{
        width: 370px;
    }
    .custominfo-blocks__text{
        width: 370px;
        font-size: 18px;
    }
    .manager-block__image{
        width: 70px;
        height: 70px;
    }
    .manager__dots{
        display: flex;
        margin: 0 auto;
        margin-bottom: 32px;
    }
}

@media (max-width:460px){
    .customers__header{
        font-size: 16px;
    }
    .customers{
        margin-left:10px;
    }
    .custominfo-blocks{
        width: 288px;
        margin-left: 35px;
    }
    .custominfo-blocks__text{
        width: 288px;
        font-size: 14px;
    }
    .custominfo_triangle{
        width: 25px;
        margin-left: 35px;
    }
    .manager-block-info__name{
        font-size: 14px;
        width: 204px; 
    }
    
    .manager-block-info__job{
        font-size: 13px;
        width: 205px;
    }
    .manager-block__image{
        width: 57px;
        height: 57px;
        margin-right: 30px;
    }
    
}