*{
    padding: 0px;
    margin: 0px;
}

.awesome{
    width: 1170px;
    height: 100%;
    margin: 0 auto;
}

.awesome__header{
    text-align: center;
    height: 150px;
    line-height: 150px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 36px;
}

.awesome__line{
    width: 170px;
    border: 0.5px solid #EC7979;
    margin: auto;
    margin-bottom: 40px;
}
.awesome__title{
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    text-align: center;
    color: #86878B;
    margin-bottom: 71px;
}

.info{
    text-align: center;
    display: inline-block;
    padding-bottom: 58px;
}

.info__basic{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    margin: 20px;
}

.info__additional{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 18px;
    margin: 25px;
}

.tabs__info-button {
    color: #FFF;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    text-transform: capitalize;
    width: 270px;
    background: #EC7979;
    line-height: normal;
    border: 1px solid #EC7979;
    height: 58px;
    margin-bottom: 54px;
}

.tabs__info-button_hover:hover {
    color: #FFF;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    text-transform: capitalize;
    width: 270px;
    background: #AB4949;
    line-height: normal;
    border: 1px solid #AB4949;
    height: 58px;
    margin-bottom: 54px;
    cursor: pointer;
}

.tabs__info-button_hover:active {
    color: #FFF;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    text-transform: capitalize;
    width: 270px;
    line-height: normal;
    border: 1px solid #EC7979;
    height: 58px;
    margin-bottom: 54px;
    cursor: pointer;
    background: #EC7979;
    box-shadow: 0px 0px 10px 0px #AB4949 inset;
}

@media (max-width:1194px) {
    .awesome{
        width: 95%;
    }
    .info{
        text-align: center;
        display: block;
        padding-bottom: 25px;
    }
}

@media (max-width:430px) {
 .awesome__header{
        font-size: 22px;
    }
}