.backround{
    background: rgba(0, 0, 0, 1);
    width: 100%;
    height: 164px;
}

.backround-block{
    width: 1170px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.backround-block-icon_img{
    width: 53.2px;
    height: 53.2px;
    flex-shrink: 0;
    margin-left: 16.4px;
    margin-right: 16.4px;
    margin-top: 35px;
    color: rgba(204, 204, 204, 1);
    cursor: pointer;
}

.backround__axure{
    display: flex;
    justify-content: center;
    margin-top: 27.8px;
    color: rgba(255, 255, 255, 0.50);
    text-align: center;
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
}

@media(max-width:1200px){
    .backround-block{
        width: 95%;
    }
}

@media(max-width:1026px){
    .backround-block-icon_img{
        width: 45px;
        height: 45px;
    }
    .backround__axure{
        font-size: 14px;
    }
}

@media(max-width:600px){
    .backround-block-icon_img{
        width: 20.583px;
        height: 20.583px;
        margin-left: 8.4px;
        margin-right: 8.4px;
    }
    .backround__axure{
        font-size: 14px;
    }
}